/* Overview
    Author: VanThai
   */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header - Menu */

header {
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #fff;
  align-items: center;
  padding: 16px;
  height: 25px;
}

a:hover {
  color: bisque;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 25px;
  font-size: 20px;
  font-weight: bold;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

header img:first-child {
  margin-right: 100px;
}

header img:last-child {
  margin-left: 10px;
}

.content{
  width: 1095px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* overlay login đăng nhập */

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    border: #ddd solid 1px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
  }

  .overlay-content {
    background-color: white;
    padding: 20px;
  }

  button #close-button{
    float: right;
    background-color: #ff3b3b
  }

/* Menu - submenu */

  .menu {
    background-color: #f4f4f4;
  }

  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border: #ddd solid 1px;
    border-radius: 5px;
    clear: both;
  }

  .menu ul li {
    position: relative;
  }

  .menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }

  .menu ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
  }

  .menu ul li:hover > ul {
    display: block;
  }

  .menu ul li ul li {
    width: 200px;
  }

  .menu ul li ul li a {
    background-color: #fff;
  }

  .menu ul li ul li a:hover {
    background-color: #ddd;
  }

.imgbanner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin: 5px 0 5px 0;
}

.img-container {
  display: flex;
}

.img-container img {
  max-width: 1010px;
  max-height: 100%;
  margin: auto;
}

/* Phần Nội Dung Chính */

  main {
    padding: 16px;
  }

  main h1 {
    font-size: 32px;
  }

  main section {
    margin-bottom: 16px;
    width: 20%;
    text-align: center;
    float: left;

  }
  
  main section h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 8px;
  }

  main section img {
    width: 100px;
    height: auto;
  }

  main section p {
    margin-bottom: 8px;
    
  }

  main section button[type="button"] {
    padding: 8px;
    background-color: #ff5e5e;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  main section button[type="button"]:hover {
    background-color: #ff3b3b;
  }

  /* Footer Chân trang*/

  footer {
    clear: both;
    background-color: #333;
    color: #fff;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer p {
    margin: 0;
    text-align: center;
    flex-grow: 1;
  }

  .Noidung{
    width: 1000px;
    height: 100%;
    margin: auto;
    text-align: left;
    padding: 10px;
  }
  .Noidung_home {
    width: 980px;
    height: 100%;
    margin: auto;
    text-align: left;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 4px;
  }
  .iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  
